.modal-content {
    background: #efefef;
    color: #0000 !important;
}
.modal-footer,
.modal-header {
    background-color: #202026;
}
.modal-title {
    line-height: inherit;
}
.modal-header .close {
    top: 20px;
    right: 30px;
    position: absolute;
    color: #ffffff;
}
.cursor-pointer{
    cursor: pointer;
}
.btn_wr_model {
    margin-bottom: 40px;
}