/*Login page css start here*/
body{
    min-height: auto;
}

.text-primary,
.text_primary {
    color: #ff6d34 !important;
}

.bg_primary {
    background-color: #ff6d34 !important;
}

nav.navbar.navbar-expand-lg {
    padding: 11px 14px;
}

.margin_top {
    margin-top: 150px;
}

.card_with_icon2 .card-icon {
    width: 80px;
    height: 80px;
    background: #ff6d34;
    font-size: 30px;
}

.main_card {
    margin: auto;
}

/*Login page css end here*/

/*Header Page Design css start here*/
.admin_panel {
    padding-left: 250px;
    max-width: inherit;
    background: #efefef;
    min-height: 100vh;
}

.inner_container {
    padding: 40px 15px 0 15px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgba(0,0,0,0.78);
    color:#fff;
    transition: all 0.3s;
}

.admin_header {
    background: #f5120a;
    color:#fff;
}

.user-profile img {
    margin-right: 10px;
    width: 40px;
}

.img-radius {
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(43,43,43,.2);
    box-shadow: 0 5px 10px 0 rgba(43,43,43,.2);
}

.dropdown_list {
    top: 46px;
    padding: 10px;
}

.logout {
    cursor: pointer;
}


/* Sidebar */
.side_menus li a:hover {
    background: rgba(0,0,0,0.2);
}