
/* restaurant page section */
.text_color
{
color:#A51415;
}
 a.menu_list
{
	font-size:25px;
	background-color: #A51415;
	text-decoration:none;
	color:#fff;
	padding:12px;
	cursor:pointer;
}
.contnt-font
{
	font-size:17px;
}


ul li.menu_down
{
	background-color:#A51415;
	
}
ul li.menu_down a
{
	color: #fff;
	text-decoration:none;
}
