/*Media Query :

Large Device to Small Devices;*/

@media all and (max-width : 1200px) {

    .card_size {
        background-color: transparent;
        padding: 0 15px;
        max-width: 700px;
        width: 100%;
        position: fixed;
        top: 40%;
        margin-top: -147px;
        left: 50%;
        margin-left: -350px !important;
        box-shadow: 0 0 6px 7px rgba(0,0,0,.2);
        border: none;
    }

}

@media all and (max-width : 1024px) {

    .left_side.float-left.py-2.mrg_r_10 {
        width: 33%!important;
    }

    .left_side.float-left.py-2 {
        width: 65%!important;
    }

    .left_side.float-right {
        text-align: center!important;
        float: unset!important;
    }

    .flip-card-back.py-5.px-4 {
        height: 290px;
        font-size: 13px;
    }

    .flip-card-inner.box_height_350 {
        height: 290px;
    }

    img.gallery_image.img-fluid.res_gallery.pr-4 {
        padding-right: 0px !important;
    }

    .card_size {
        background-color: transparent;
        padding: 0 15px;
        max-width: 700px;
        width: 100%;
        position: absolute;
        top: 40%;
        margin-top: -147px;
        left: 50%;
        margin-left: -350px !important;
        box-shadow: 0 0 6px 7px rgba(0,0,0,.2);
        border: none;
    }
    
    .banner-custom.vh-100{
        height: 580px!important;
    }

    .social_links {
        color: #fff;
        left: 50%;
        bottom: 20px;
        position: absolute;
        transform: translate(-50%);
    }

    div.banner-custom div.address-head {
        top: 120px;
    }

    div.reservation-form {
        top: 290px;
    }


}

@media all and (max-width : 992px) {

    .card_size{
        background-color: transparent;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        box-shadow: 0 0 6px 7px rgba(0,0,0,.2);
        border: none;
        width: 550px;
        margin-top: -199px;
        margin-left: -288px !important;
    }

    .flip-card-back.py-5.px-4 {
        padding-top: 22px !important;
    }

}

@media all and (max-width : 768px) {

    .left_side.float-left.py-2.mrg_r_10 {
        width: 8%!important;
    }

    .left_side.float-left.py-2 {
         width: 0%!important; 
    }

    .address_details, 
    .top_header .left_side span {
        font-size: 0;
    }


    .top_header .left_side span svg,
    .top_header .left_side span i {
        font-size: 24px;
    }


    .contact_details, .address_details {
        width: 40px;
        text-align: center;
    }

    .address-head.text-center.mrg_t_30 {
        top: 35px!important;
    }

    .reservation-form {
        top: 189px!important;
    }

    h3.mrg_b_30 {
        margin-bottom: 9px!important;
    }

    p.mrg_b_20 {
        margin-bottom: 11px!important;
    }

    .agent_btn_cancel, .agent_btn_login {
        padding: 12px 10px;
    }

    .main_header .bottom_header a.nav-link {
        padding: 21px 1px;
        border: none;
    }

    .pdng_tb_80 {
        padding-top: 37px !important;
        padding-bottom: 0px !important;
    }

    .table thead th {
         vertical-align: top; 
        border-bottom: 2px solid #dee2e6;
    }

    img.gallery_image.img-fluid {
        height: auto;
    }

    button.navbar-toggler {
        top: -58px;
        left: 85%;
        position: absolute;
    }

    .navbar-dark .navbar-toggler {
        color: #e9ecef;
        border-color: #f8f9fa; 
        font-size: 14px!important;
    }

    .navigations.float-right {
        width: 100%;
    }


    .py-5 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .py-3.px-5 {
        padding: 0px !important;
    }


    .row.pt-5.text-center.d-block.btn_padding {
        padding-top: 20px !important;
    }

    .text-white.pt-5.pb-5 {
        padding-top: 72px !important;
    }

    p.para_font, p, li {
        font-size: 14px !important;
    }

    p.pt-3 {
        padding-top: 3px !important;
    }

    p.sm.text-white {
        font-size: 26px!important;
    }

    h1{
        font-size: 31px;
    }

    h2{
        font-size: 26px;
    }

    h3{
        font-size: 22px;
    }

    h4{
        font-size: 19px;
    }

    h5{
        font-size: 17px;
    }

    .above.card-body {
        display: none;
    }

    .flip-card-inner.box_height_350 {
        height: auto;
    }

    .flip-card-front {
        position: static;
        backface-visibility: visible;
        height: auto;
    }

    .flip-card-back.py-5.px-4 {
        transform: none;
        z-index: unset;
        position: static;
        height: auto;
        font-size: 13px;
    }

    .card.flip-card.border-0.mrg_b_20 {
         padding-bottom: 0px!important; 
    }

    form.booking-form.pdng_20.pdng_t_30.p_b_14.bx_shw {
        width: 72%;
    }

    label.text_primary {
        font-size: 12px;
    }

    input#checkindate {
        font-size: 12px;
    }

    input#checkoutdate {
        font-size: 12px;
    }

    input.btn.book-btn.border-0.rounded.font-weight-bold.p-2.text-white {
        font-size: 10px;
        margin-top: 27px;
        height: 32px;
    }

    .social_links {
        bottom: 8px;
    }

    .pdng_y_60 {
        padding-top: 37px!important;
        padding-bottom: 0px!important; 
    }

    .banner-custom.vh-100 {
        height: 430px!important;
    }

    .top_header span:last-child {
        float: left!important;
    }

}

@media all and (max-width : 640px) {

.col-12.col-md-4.cl4, .col-12.col-md-6.cl4 {
    flex: 50%;
    max-width: 50%;
}

.card_size{
    background-color: transparent;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    margin-left: -213px !important; 
    box-shadow: 0 0 6px 7px rgba(0,0,0,.2);
    border: none;
    width: 424px;
}

 .col-md-6.fix {
    position: absolute;
    top: 200%;
}



.left_col.col-md-5.text-white {
    flex: 50%;
    max-width: 50%;
    min-height: 351px;
}

.right_col.col-md-7.bg-white.pt-3 {
    flex: 50%;
    max-width: 50%;
}

.left_col.col-5.text-white {
    flex: 50%;
    max-width: 50%;
}

.right_col.col-7.bg-white.pt-4 {
    flex: 50%;
    max-width: 50%;
}

.address-head.text-center.mrg_t_30 {
    top: 125px!important;
    margin-top: 0px!important;
}

form.booking-form.pdng_20.pdng_t_30.p_b_14.bx_shw {
    padding-top: 11px!important;
    padding-bottom: 9px!important;
}

.reservation-form {
    top: 250px!important;
}

.form-row {
    line-height: 12px;
}

svg.svg-inline--fa.fa-calendar-alt.fa-w-14 {
    font-size: 14px;
}

.lg.font-weight-bold.text-white {
    font-size: 38px!important;
}

p.sm.text-white {
    font-size: 24px!important;
}

.social_links a {
    width: 34px!important;
    height: 35px!important;
}

.social_links {
    bottom: 5px!important;
    left: 28%!important;
}

}

@media all and (max-width : 480px) {

    .top_header .left_side span svg,
    .top_header .left_side span i {
        font-size: 18px;
    }

    .contact_details, .address_details {
        width: 29px;
        text-align: center;
    }

    .agent_btn_cancel, .agent_btn_login {
        padding: 11px 0px;
        font-size: 11px;
    }

    .main_header .bottom_header a.nav-link {
        padding: 21px 1px;
        border: none;
    }

    .h1_res{
        padding-top: 20px;
        font-size: 37px;
    }

    .h2_res{
        font-size: 23px;
    }

    h1{
        font-size: 37px;
    }
     h2{
        font-size: 23px;
     }
     h3{
        font-size: 20px;
     }
     h4{
        font-size: 17px;
     }

    .btn_padding{
        padding-top: 15px !important;
    }

    .col_padding{
        padding-left: 9px !important;
        padding-right: 8px !important;
        font-size: 12px;
    }

    .col.gallery_col {
        flex: 50%;
        max-width: 50%;
    }

    .col-md-9.col-12.pdt {
        padding-top: 10px;
    }

    .col-12.col-md-4.cl4 ,.col-12.col-md-6.cl4 {
        flex: 50%;
        max-width: 50%;
    }

    button.navbar-toggler {
        top: -58px;
        left: 85%;
        position: absolute;
    }

    .navigations.float-right {
        width: 100%;
    }

    img.gallery_image.img-fluid {
        height: auto;
    }

    .pdng_tb_80 {
        padding-top: 37px !important;
        padding-bottom: 0px !important;
    }

    .table thead th {
         vertical-align: top; 
        border-bottom: 2px solid #dee2e6;
    }

    .card_size{
        background-color: transparent;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        margin-top: -200px;
        margin-left: -213px !important; 
        box-shadow: 0 0 6px 7px rgba(0,0,0,.2);
        border: none;
        width: 424px;
    }

    .left_col.col-md-5.text-white {
        flex: 50%;
        max-width: 50%;
        min-height: 351px;
    }

    .right_col.col-md-7.bg-white.pt-3 {
        flex: 50%;
        max-width: 50%;
    }

    .left_col.col-5.text-white {
        flex: 50%;
        max-width: 50%;
    }

    .right_col.col-7.bg-white.pt-4 {
        flex: 50%;
        max-width: 50%;
    }

    .card.flip-card.border-0.mrg_b_20 {
        padding-bottom: 89px;
    }

    img.gallery_image.img-fluid.res_gallery.pr-4 {
        padding-right: 0px !important;
    }

    img.in_img.img-fluid {
        height: auto;
    }

    a.btn.agent_btn_cancel {
        font-size: 11px;
    }

    table.table.table-striped {
        font-size: 10px;
    }

    .float-right.lis_res {
        width: auto;
    }

    p.para_font {
        font-size: 12px;
    }

    p{
        font-size: 12px;
    }

    li{
        font-size: 12px !important;
    }

    span.mon.text-capitalize {
        font-size: 12px;
        padding-top: 24px;
    }

    .dteBoxes .dtO {
        width: 16.6%;
        height: 66px;
        display: inline-block;
        background-color: #A51415;
        color: #ffffff;
        cursor: pointer;
        border: 2px solid #fff;
    }

    .weatherWidgit {
        width: 100%;
        border: 2px solid #ffffff;
    }

    button.card-header.btn.btn-lg-link.btn-block.bg_primary.font-weight-bold.text-white.text-left {
        font-size: 12px;
    }

    .py-5 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    h4.card-title.font-weight-bold {
        padding-top: 27px;
    }

    h5.card-subtitle.mb-2.text-white-50.font-weight-bold {
        font-size: 15px;
    }

    .py-3.px-5 {
        padding: 0px !important;
    }

    a.btn.btn-primary.font-sm.p-2.bg_primary.border-0 {
        font-size: 11px;
    }

    p.sm.text-white {
        font-size: 23px!important;
    }

    form.booking-form.pdng_20.pdng_t_30.p_b_14.bx_shw {
        width: 85%;
    }

    .social_links {
        left: 23%!important;
    }

    .address-head.text-center.mrg_t_30 {
        top: 112px!important;
        padding: 40px!important;
    }

    .reservation-form {
        top: 345px!important;
        padding: 10px!important;
    }

    .banner-custom {
        display: none;
    }

    .section1{
        display: block!important;
    }

    .pdng_y_60:nth-child(2n) .col-md-6:first-child {
        margin-top: 120px;
    }

    .pdng_y_60:nth-child(2n) .col-md-6:last-child {
        margin-top: -325px;
    }


    .bg-front .container {
        top: 175px;
    }

    .top_header {
        position: absolute;
        bottom: -38px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .tabs .nav-tabs .nav-link {
        font-size: 14px;
    }

    .main_header.active .navbar-toggler{
        position: absolute;
        top: -39px;    
    }




}

@media all and (max-width : 412px) {

    .bg-front{
        height: 86vh!important;
    }

    .top_header span:first-child,
    .top_header span:nth-child(2){
        display: none!important;
    }

    .top_header span:last-child{
        float: unset!important;
    }

    .top_header {
        bottom: -33px;
    }

}


@media all and (max-width : 360px) {

    p.para_font{
        font-size: 12px!important
    }

    p.fnsz_12 {
        padding-top: 13px;
    }

    label {
        font-size: 12px;
    }

    span.float-right.font-weight-bold {
        width: 78px;
    }

    .tabs a  {
        font-size: 12px;
    }

    .col_padding {
        padding-left: 11px !important;
        padding-right: 13px !important;
        font-size: 12px;
    }

    p{
        font-size: 12px!important;
    }

    h1{
        font-size: 30px!important; 
    }

    h2{
        font-size: 22px!important;
    }

    .col-12.col-md-4.cl4, .col-12.col-md-6.cl4 {
        flex: 100%;
        max-width: 100%;
        padding-top: 6px;
    }

    button.navbar-toggler {
        top: -58px;
        left: 79%;
        position: absolute;
    }

    p.sm.text-white {
        font-size: 20px!important;
        line-height: 20px!important;
    }

    .lg.font-weight-bold.text-white {
        font-size: 33px!important;
    }

    .reservation-form {
        top: 261px!important;
        padding: 10px!important;
    }

    a.btn.btn-primary.font-sm.p-2.bg_primary.border-0 {
        font-size: 11px!important;
    }

    .social_links {
        left: 14%!important;
        bottom: 1%!important;
    }

    .address-head.text-center.mrg_t_30 {
        top: 120px!important;
        padding: 6px!important;
    }

    .vh-100 {
        height: 100vh!important;
        padding-top: 84px!important;
    }

    input.btn.book-btn.border-0.rounded.font-weight-bold.p-2.text-white {
        margin-top: 3px!important;
    }

    .main_header.active .top_header {
        display: none !important;
    }

}

@media all and (max-width : 321px) {

    a#nav-hotel-tab {
        font-size: 14px;
    }

    a#nav-facility-tab {
        font-size: 15px;
    }

    a#nav-gallery-tab {
        font-size: 15px;
    }

    .col-12.col-md-4.cl4, .col-12.col-md-6.cl4 {
        flex: 100%;
        max-width: 100%;
    }


    .address-head.text-center.mrg_t_30 {
        top: 109px!important;
        padding: 6px!important;
    }

    .vh-100 {
        height: 96vh!important;
        padding-top: 84px!important;
    }

    .reservation-form {
        top: 240px!important;
        padding: 10px!important;
    }

    .social_links {
        left: 11%!important;
        bottom: 1%!important;
    }

    .bg-front .container {
        top: 50px;
    }

    .bottom_header {
        background-color: rgba(0,0,0,0.78);
    }
}